

/* Background image */
body {
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    /* Borders for heading elements */
    h1, h2 {
        border: 2px solid #000;
    }
    
    /* Background color and rounded borders for paragraph elements */
    p {
        background-color: #e0e0e0;
        border-radius: 10px;
        padding: 10px;
    }
    
    /* Margin and padding properties */
    header {
        margin-bottom: 20px;
    }
    img {
        margin: 10px;
        padding: 5px;
    }
    
    /* Borders for heading elements */
    h1, h2 {
        border: 2px solid #5f5c5c;
    }
    
    /* Background color and rounded borders for paragraph elements */
    p {
        background-color: #e20707;
        border-radius: 10px;
        padding: 10px;
    }
    
    /* Margin and padding properties */
    header {
        margin-bottom: 20px;
    }
    img {
        margin: 10px;
        padding: 5px;
    }
    